/* contacto-main-mobile */
.top-contacto {
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 2px $color-gris;

}

.titulo-contacto {
    margin: 0.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;



    .comentario {
        display: flex;
        justify-content: center;
        gap: 0.3rem;

    }

    .nombre {
        display: flex;
        justify-content: center;
        align-self: start;
        gap: 0.3rem;
    }

    .correo {
        display: flex;
        align-self: start;
        gap: 0.1rem;
    }

    .de-acuerdo {
        display: flex;
        justify-content: center;
        margin-top: 0.3rem;

        .boton {
            padding: 0.3rem;
            justify-content: center;
            border-radius: 4px;

            &:hover {
                background-color: $color-rojo;
                transform: scale(1.1);
            }
        }
    }

    .click {
        display: flex;
        gap: 0.3rem;
    }
}

.cajita {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.74);
    padding-left: 0.2rem;
}

.vias {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 0.3rem;


    h4 {
        margin: 0.3rem;
    }
}

.redes-contacto {
    margin-top: 0.8rem;

    .nav-social {
        margin-top: 1rem;
    }
}


@media(min-width:768px) {
    .top-contacto {
        display: grid;
        grid-column: span 2;

    }


    .titulo-contacto {
        margin: 0.4rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        text-shadow: 3px 3px 2px $color-gris;

    }

    .varios {
        display: grid;
        align-self: start;

    }

    .datos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;



        .comentario {
            display: flex;
            justify-content: start;
            align-self: start;
            gap: 0.3rem;
            padding-left: 0.3rem;
        }

        .nombre {
            display: flex;
            justify-content: start;
            align-self: start;
            gap: 0.3rem;
            padding-left: 0.3rem;
        }

        .correo {
            display: flex;
            justify-content: start;
            align-self: start;
            gap: 0.1rem;
            padding-left: 0.3rem;
        }

        .de-acuerdo {
            display: flex;
            justify-content: center;
            margin-top: 0.3rem;


            .boton {
                padding: 0.3rem;
                justify-content: center;
                border-radius: 4px;

                &:hover {
                    background-color: $color-rojo;
                    transform: scale(1.1);
                }
            }
        }

        .click {
            display: flex;
            gap: 0.3rem;
            margin-bottom: 0.5rem;
        }
    }

}


.vias1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: 3px 3px 2px $color-gris;
}

.redes-contacto {
    margin-top: 0.8rem;
    text-shadow: 3px 3px 2px $color-gris;

    .nav-social {
        margin-top: 1rem;
    }
}

@media(min-width:1200px) {


    .varios {
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    


}