/* reservas-main-mobile */

.elegir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;

    .solo-reservas {
        display: flex;
        justify-content: center;
        gap: 1rem
    }

    .cena-reservas {
        display: flex;
        justify-content: center;
        gap: 0.9rem;
    }

    .clase-reservas {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
    }

    .dia {
        display: flex;
        justify-content: end;

        gap: 0.5rem;
        padding-bottom: 0.4rem;
        padding-right: 0.3rem;
    }

    .boton-elegir:hover {
        background-color: $color-rojo;
        color: white
    }

}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.wrapp-mapa2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

/* reservas-main tablet */

@media(min-width:768px) {


    .formulario-reservas {
        display: grid;
        justify-self: start;

        h2{
            margin-top: 2rem;;
        }
    }

    .elegir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.74);
        border-radius: 5px;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        padding: 3rem;



        .dia {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 1rem;
            padding-bottom: 0.4rem;
        }

        .boton-elegir:hover {
            background-color: $color-rojo;
            color: white
        }

    }



    .donde-estamos {
        display: grid;
        justify-items: center;
        margin-top: 0.1rem;
        

        h3 {
            display: flex;
            justify-content: center;
           
            font-size:1.4rem;
        }

        .ubicacion{
            margin: 0;
            padding-bottom:0.3rem;
        }
       
    }


    .wrapp-mapa2 {
       margin-top: 0.5rem;
       padding:0;
      
    }
}