/* staff-main-mobile */

.top-staff {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;


}

.titulo-artistas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    font-size: 1.4rem;
}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: $color-rojo;
}

.musicos,
.bailarines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.3rem;



    &-fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: 5px;
        background-color: $color-gris;
        transition: 2s all ease;
        
        &:hover{
            transform: scale(1.02) ;
            background-color: $color-verde;
        }
    }
}





/* staff-main-tablet */
@media(min-width: 768px) {
    .top-staff {
        display: grid;
        grid-column: span 2;
        justify-items: center;
        font-size: 1.5rem;
    }
    
    .titulo-artistas{
        font-size: 1.5rem;
    }

    .musicos-wrapper {
        display: grid;
        justify-items: center;
        align-self: start;
        background-color: $color-gris;
        border-radius: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding-top: 0.5rem;

    }


    .bailarines-wrapper {
        display: grid;
        justify-items: center;
        align-self: start;
        background-color: $color-gris;

        border-radius: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding-top: 0.5rem;

    }
}

/* main-desktop */
@media(min-width:1200px) {
    .bailarines-fotos {
        margin-top: 1.1rem;
    }
}