/* footer-mobile */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gris;
    width: 100%;
}

.boton-tango {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.1);
    }
}

.boton-reservas {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;

}

.redes-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;

}


.cajón-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* footer- tablet/desktop */
@media (min-width: 768px) {
    footer {
        display: grid;
        grid-column: span 2;
        background-color: $color-gris;
    }

    .cajón-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0.5rem;
    }

    .redes-footer {
        font-display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
  
.nav-social {
    display: flex;
   
   
    margin-bottom: 1rem;
   

}
}
